<!Doctpye html>
<html>
<head>
        <title></title>
        <style> 
                li{
                margin:20px;
                }
                 </style>
 </head>  

<body>
        <ul style="display:flex;">
                <li><a href="/world">World news</a></li>
                <li><a href="/uk">Uk News</a></li>
                <li><a href="/usa">Usa News</a></li>
                <li><a href="/eco">Economic News</a></li>
                <li><a href="/sport">Sport News</a></li>
                <li><a href="/tec">Tec News</a></li>
        </ul>
        <header>Here there is header</header>
        {{{body}}}
        <footer>Here there is footer</footer>
</body>
</html>