
<nav class="navbar navbar-inverse bg-info">
  <!-- Navbar content -->
  <h1 class="text-white" style="text-align:center;">USA News</h1>
</nav>

    <div id="plantersCard">


        <div class=" owl-carousel owl-theme container  ">

            <div class="item thumbnail">
                <a href="3.html"><img src="lookinggreat.png"></a>
                <h5 class="text-center text-primary">Title</h5>
                <p class="text-center text-muted">pargraph</p>
            </div>

        </div>
    </div>



    <div id="plantersSlider">
        <div class="row">

            <div class="leftBoxSlider col col-lg-3 col-md-12 col-sm-12">
                <h6 id="sentenceLeft" class="text-warning"> United State News</h6>
                <button class="btn btn-danger">See All</button>
            </div>

            <div class="col-lg-9 sliderInside col-md-12 col-sm-12">

                <div class=" owl-carousel owl-theme container  ">

                    <div class="item thumbnail">
                        <p class="text-center text-success">Title</p>
                        <a href="1.html"><img src="lookinggreat.png"></a>
                        <h5 class="text-center text-danger">Pargraph</h5>
                    </div>
                    
                    
                </div>
            </div>

        </div>
    </div>